<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="pqr.css">
</head>
<body>
    <div id="inner">
    </div>
    <div id="inner"></div>
<div id="inner"></div>    
</body>
</html>

 #inner{
    height: 100px;
    width: 100px;
    background-color: pink;
    border: 2px solid black;
    border-radius:  50%;
    display: inline-block;
}
